<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OSXFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OSXFrameworkTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TTNCache.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iOSFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FCAD4391C0D40F10050A70A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FCAD4521C0D40F10050A70A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FCAD4661C0D41660050A70A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FCAD46A1C0D41720050A70A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FCAD4741C0D424E0050A70A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FCAD47D1C0D424E0050A70A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
